.home > h1 {
  text-align: center;
}

.home__article {
  border-bottom: 1px solid lightgrey;
}

.home__article > a {
  text-decoration: none;
}

.home__article__detail {
  display: flex;
}

.home__article__detail > img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.home__article__detail > span {
  padding: 10px;
}

.home__article__description > p {
  word-break: break-all;
}