.contact {
  padding: 10px;
  border: 1px solid #ccc
}

.contact > h1 {
  text-align: center;
}

.contact__input-group {
  display: block;
  margin-bottom: 1em;
}

.contact__input-group > label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.contact__input-gender {
  display: inline-block;
}

.contact__form {
  text-decoration: none;
  color: black;
}