.header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}

.header > nav li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

.header > nav a {
  text-decoration: none;
}

.header > nav a.active {
  border-bottom: 2px solid blue;
}