.movieform > h1 {
  text-align: center;
}

.movieform__form {
  text-align: center;
}

.movieform__input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.movieform__input-group > label {
  text-align: left;
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.movieform__error-message > li {
  background: lightsalmon;
  color: red;
}