.movielist > h1 {
  text-align: center;
}

.movielist__search {
  text-align: center;
}

.movielist__table {
  width: 100%;
  border-collapse: collapse;
}

.movielist__table > thead > tr > th,
.movielist__table > tbody > tr > td {
  border-bottom: 1px solid darkgray;
  text-align: left;
}

.movielist__table > tbody > tr > td > span {
  text-overflow: ellipsis;
}