body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/images/pattern.jpg);
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}
